@model Pharma_Ky.Models.Cosmetics

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section MainSection{

<h1>Create</h1>
<h4>Cosmetics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="/Cosmetics/Create" method="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cosmeticsname" class="control-label"></label>
                <input asp-for="Cosmeticsname" class="form-control" />
                <span asp-validation-for="Cosmeticsname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cosmeticsdescription" class="control-label"></label>
                <input asp-for="Cosmeticsdescription" class="form-control" />
                <span asp-validation-for="Cosmeticsdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cosmeticsprice" class="control-label"></label>
                <input asp-for="Cosmeticsprice" class="form-control" />
                <span asp-validation-for="Cosmeticsprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cosmeticsimageurl" class="control-label"></label>
                <input asp-for="Cosmeticsimageurl" class="form-control" />
                <span asp-validation-for="Cosmeticsimageurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
<div>
    <a asp-action="Index">Back to List</a>
</div>

                