@model Pharma_Ky.Models.MedicVits

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Edit</h1>

<h4>MedicVits</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicVitId" />
            <div class="form-group">
                <label asp-for="MedicVitname" class="control-label"></label>
                <input asp-for="MedicVitname" class="form-control" />
                <span asp-validation-for="MedicVitname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicVitdescription" class="control-label"></label>
                <input asp-for="MedicVitdescription" class="form-control" />
                <span asp-validation-for="MedicVitdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicVitprice" class="control-label"></label>
                <input asp-for="MedicVitprice" class="form-control" />
                <span asp-validation-for="MedicVitprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicVitimageurl" class="control-label"></label>
                <input asp-for="MedicVitimageurl" class="form-control" />
                <span asp-validation-for="MedicVitimageurl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

