@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section MainSection{
    <main id="main">
        <br />   <br />
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">


                <div class="row gy-4">
                    <div class="col-12">
                        <figure style="margin: 0; padding: 0;">
                            <img src="~/assets/img/About1.jpg" alt="Image placeholder" class="img-fluid rounded" style="width: 100vw; max-width: 100%;">
                        </figure>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
        <div class="site-section bg-light custom-border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <br />
                            <figure>
                                <img src="~/assets/img/About/1.png" alt="Image placeholder" class="img-fluid rounded">

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 style="color:darkred">How We Started</h2>
                        </div>
                        <p>
                            Our journey with the pharmacy website began with a shared passion for healthcare and a desire to make a positive impact on people's lives.
                            Recognizing the growing need for convenient and reliable online pharmacy services, we embarked on this exciting venture.
                            Armed with a vision to provide easy access to medications and valuable health information,
                            we assembled a dedicated team of experts in pharmaceuticals, technology, and customer care.

                        </p>
                        <p>
                            Our website was born out of a commitment to deliver top-quality pharmaceutical products, expert guidance,
                            and exceptional customer service. As we look back on how we started, we are proud of the progress we've made and remain dedicated
                            to our mission of improving health and well-being for all our valued customers.
                        </p>

                    </div>
                </div>
            </div>
        </div>



        <div class="site-section bg-light custom-border-bottom" data-aos="fade">

            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 order-md-2">
                        <div class="block-16">
                            <figure>

                                <img src="~/assets/img/About/2.png" height="800px" alt="Image placeholder" class="img-fluid rounded">


                            </figure>
                        </div>
                    </div>

                    <div class="col-md-3"></div>
                    <div class="row-md-1"></div>
                    <div class="col-md-5 mr-auto">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 style="color:darkred ;">We Are Trusted Company</h2>
                        </div>
                        <p class="text-black">
                            We are your trusted pharmacy website, and our unwavering commitment to integrity,
                            transparency, and ethical healthcare practices sets us apart.
                            Our proven history of consistently delivering top-quality medications and services reflects our reliability.
                            We prioritize forging enduring relationships with our customers and providing exceptional support.
                            Staying at the forefront of pharmaceutical advancements through continuous improvement and innovation is our mission.
                            Trust is the cornerstone of our success, and over the years, we've earned the confidence
                            of countless clients who rely on us for their health and well-being.
                        </p>
                        <p class="text-black">
                            Staying at the forefront of pharmaceutical advancements through continuous improvement and innovation is our mission.
                            Trust is the cornerstone of our success, and over the years, we've earned the confidence
                            of countless clients who rely on us for their health and well-being.
                        </p>

                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
            </div>
        </div>

        <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                        <figure>

                            <img src="~/assets/img/About/3.png">


                        </figure>
                        <div class="text">
                            <h2>Delivery</h2>
                            <p>
                                Enjoy the convenience of doorstep delivery with our reliable and efficient shipping services. We bring your orders right to your door, ensuring a hassle-free experience. Experience the ease of shopping online with our fast and secure delivery options."
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                        <figure>

                            <img src="~/assets/img/About/4.png">
                        </figure>
                        <div class="text">
                            <h2>
                                Medical consultation
                            </h2>
                            <p>

                                "Elevate your healthcare with our specialized pharmacy consulting services. Our experienced team is dedicated to providing personalized advice and solutions for your medication and wellness needs. Discover the difference expert guidance can make at our pharmacy website."
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                        <figure>

                            <img src="~/assets/img/About/5.png">

                        </figure>
                        <div class="text">
                            <h2>Customer Support</h2>
                            <p>
                                "We're here for you 24/7, providing exceptional customer support to address your needs and concerns promptly. Your satisfaction is our priority, and we're just a message or call away. Experience seamless assistance and personalized care with our dedicated support team."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

}