@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<section class="vh-100 bg-image"
         style="background-image: url('https://ugc.futurelearn.com/uploads/images/cd/f3/cdf3dae7-776b-498c-8c91-e7549e5b1f98.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
    <div style="background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5)); background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))">
        <br />
        <br />
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Enter your email.</h2>
                <hr />
                           
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <br /><br /><br /><br />
        <br /><br /><br /><br />
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
